<manifest package="com.danish.tradersgujrat" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application android:allowBackup="true" android:label="Danish Traders Gujrat" android:theme="@style/Theme.DanishTradersGujrat" android:name="androidx.multidex.MultiDexApplication">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="YOUR_GOOGLE_MAPS_API_KEY"/>
    <activity android:name=".SettingsActivity" />
    <activity android:name=".MapActivity" />
    <activity android:name=".OrderPaymentActivity" />
    <activity android:name=".MainActivity" />
    <activity android:name=".LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
